<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248737689457-p0kbqn1soees86o0bl87mlab5ogq8f0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248737689457-p0kbqn1soees86o0bl87mlab5ogq8f0j</string>
	<key>API_KEY</key>
	<string>AIzaSyDUTdULOtu0SPHoi171cG8vN9bpSLotLFU</string>
	<key>GCM_SENDER_ID</key>
	<string>248737689457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vastlb.Wing-Me</string>
	<key>PROJECT_ID</key>
	<string>wing-me-b80e3</string>
	<key>STORAGE_BUCKET</key>
	<string>wing-me-b80e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248737689457:ios:d33eaaf5ac347213d450d0</string>
</dict>
</plist>