<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb982225715817283</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.248737689457-p0kbqn1soees86o0bl87mlab5ogq8f0j</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.vastlb.TheWApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>openWAPLocation</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.vastlb.TheWApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>openWAPContact</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>982225715817283</string>
	<key>FacebookClientToken</key>
	<string>dce890061321a29112ec476495bd712e</string>
	<key>FacebookDisplayName</key>
	<string>The W App</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Light.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
